version: "3.8"

services:
  mongo:
    image: mongo:6.0
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    healthcheck:
      test: >
        mongosh --eval "try { rs.initiate({_id: 'rs0', members: [{_id: 0, host: 'localhost:27017'}]}) } catch(e) { rs.status() }"
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 2s

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
